<div class="popular_items_wrapper">
    {% for i in 0..4 %}
    <div class="item-container">
        <img src="{{ asset('uploads/images/posts/-text.png') }}" alt="Text" width="200" >
        <h5 class="text-center">This is where the title gonna be, kind of a long title</h5>
        <p class="text-center"><strong>49.00 DH</strong></p>
    </div>
    {% endfor %}
</div>