a:hover {
  text-decoration: none;
}

/* body */
body {
    background-color: #eff3f8;
    color: #000;
    font-family: Roboto!important;
}

main {
  margin-top: 60px;
}
/*Form styling*/

form{
  color: black;
}

.form-4 {
    /* Size and position */
    width: 300px;
    margin: 60px auto 30px;
    padding: 10px;
    position: relative;

    /* Font styles */
    font-family: 'Raleway', 'Lato', Arial, sans-serif;
    color: white;
    text-shadow: 0 2px 1px rgba(0,0,0,0.3);
}

.form-4 h1 {
    font-size: 22px;
    padding-bottom: 20px;
}

.form-4 input[type=text],
.form-4 input[type=password] {
    /* Size and position */
    width: 100%;
    padding: 8px 4px 8px 10px;
    margin-bottom: 15px;

    /* Styles */
    border: 1px solid #4e3043; /* Fallback */
    border: 1px solid rgba(78,48,67, 0.8);
    background: rgba(0,0,0,0.15);
    border-radius: 2px;
    box-shadow:
            0 1px 0 rgba(255,255,255,0.2),
            inset 0 1px 1px rgba(0,0,0,0.1);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;

    /* Font styles */
    font-family: 'Raleway', 'Lato', Arial, sans-serif;
    color: #fff;
    font-size: 13px;
}

.form-4 input::-webkit-input-placeholder {
    color: rgba(37,21,26,0.5);
    text-shadow: 0 1px 0 rgba(255,255,255,0.15);
}

.form-4 input:-moz-placeholder {
    color: rgba(37,21,26,0.5);
    text-shadow: 0 1px 0 rgba(255,255,255,0.15);
}

.form-4 input:-ms-input-placeholder {
    color: rgba(37,21,26,0.5);
    text-shadow: 0 1px 0 rgba(255,255,255,0.15);
}

.form-4 input[type=text]:hover,
.form-4 input[type=password]:hover {
    border-color: #333;
}

.form-4 input[type=text]:focus,
.form-4 input[type=password]:focus,
.form-4 input[type=submit]:focus {
    box-shadow:
            0 1px 0 rgba(255,255,255,0.2),
            inset 0 1px 1px rgba(0,0,0,0.1),
            0 0 0 3px rgba(255,255,255,0.15);
    outline: none;
}

/* Fallback */
.no-boxshadow .form-4 input[type=text]:focus,
.no-boxshadow .form-4 input[type=password]:focus {
    outline: 1px solid white;
}

.form-4 input[type=submit] {
    /* Size and position */
    width: 100%;
    padding: 8px 5px;

    /* Styles */
    background: linear-gradient(rgba(99,64,86,0.5), rgba(76,49,65,0.7));
    border-radius: 5px;
    border: 1px solid #4e3043;
    box-shadow:
            inset 0 1px rgba(255,255,255,0.4),
            0 2px 1px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: all 0.3s ease-out;

    /* Font styles */
    color: white;
    text-shadow: 0 1px 0 rgba(0,0,0,0.3);
    font-size: 16px;
    font-weight: bold;
    font-family: 'Raleway', 'Lato', Arial, sans-serif;
}

.form-4 input[type=submit]:hover {
    box-shadow:
            inset 0 1px rgba(255,255,255,0.2),
            inset 0 20px 30px rgba(99,64,86,0.5);
}

/* Fallback */
.no-boxshadow .form-4 input[type=submit]:hover {
    background: #594642;
}
.form-4 label {
    display: none;
    padding: 0 0 5px 2px;
    cursor: pointer;
}

.form-4 label:hover ~ input {
    border-color: #333;
}

.no-placeholder .form-4 label {
    display: block;
}
/*Profile header*/
.icon {
    color: #333;
    font-size: 14pt;
}

.box-size {
    height:50px;
    width:50px;
    padding: 8px;
}


.notification-bar > li {
    display: inline-block;
}

.holo {
    height:50px;
    line-height: 50px;
    vertical-align: middle;
    /*margin:0 10px;*/
    padding:0 10px;
}

.holo .username {
  font-weight: bold;
}

.badge {
    display: inline;
    width: 22px;
    height: 22px;
    font-size: 11px !important;
    font-weight: 300;
    text-align: center;
    padding: 3px 6px 3px 6px;
    -webkit-border-radius: 12px !important;
    -moz-border-radius: 12px !important;
    border-radius: 12px !important;
    text-shadow: none !important;
    text-align: center;
    vertical-align: middle;
}

/*Notification bar items :hover effect*/
.holo:hover {
  display: inline-block;
  background-color: #e5e5e5;
  transition: background-color 0.4s linear;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}


/*End of profile header*/


/*Profile page content*/

.wallet {
    border-radius: 5px;
    min-height: 500px;
}

/*End of profile page content */


/*Footer of the page*/
.footer {
    padding:0;
    margin:0;
    margin-top: 15px;
    background-color: #222222;
}

.copyright-text {
    text-align: center;
    color: #aaaaaa;
    font-family: Roboto;
    min-height: 200px;
    line-height: 200px;
    vertical-align: middle;
}

/*Bootstrap overwrting*/

ul {
    margin-top: 0px;
    margin-bottom: 0px;
}

/*Item styling*/

.item-pic {
    height: 120px;
    width: 120px;
    margin:0 auto;
    display: inline-block;
}

.item-info {
    float: right !important;
}

.item-title {
    font-family: Roboto;
    font-weight: bold;
    font-size: 16pt;
}

.item-desc {
    font-family: "Roboto Light";
    font-weight: 700;
}

/*Product list styling*/


.product-list-basic{
    list-style:none;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    text-align: center;
    padding: 0;
}

.product-list-basic li{
    box-sizing:border-box;
    display: inline-block;

    text-align:left;

    background-color:#ffffff;
    border:1px solid #dbe3e7;
    border-radius: 10px!important;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.08);

    margin: 0 12px 14px 0;
    padding: 25px;
}

/* The product image */

.product-list-basic .product-photo{
    display: block;
    text-align: center;
    box-shadow : 0 0 20px 8px #f3f3f3 inset;

    width: 275px;
    margin-bottom: 25px;
    padding: 20px 0;
    box-sizing: border-box;
}

/* The product name */

.product-list-basic h2{
    display: block;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
    max-width: 200px;
    margin:0;
}

.product-list-basic h2 a{
    text-decoration: none;
    color: #2b2b2b;
}

.product-list-basic .product-compare{
    float:right;

    color: #808080;
    text-decoration: none;

    margin-top: -16px;
}

/* Rating */

.product-list-basic .product-rating div{
    display: inline-block;
    width: 80px;
    margin-top: 10px;
}

.product-list-basic .product-rating .product-stars{
    display: inline-block;

    color: #f09911;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
}

.product-list-basic .product-rating .product-stars i{
    margin-right: 2px;
}

.product-list-basic .product-rating span{
    margin-bottom: -2px;
}

.product-list-basic .product-rating span a{
    color: #808080;
    text-decoration: none;
}

/* Product description */

.product-list-basic .product-description{
    margin-top: 20px;

    color: #5d5d5d;
    font-size: 14px;
    line-height: 1.45;
    white-space: normal;

    max-width: 260px;
    margin-bottom: 20px;
}

/* Price and order button */

.product-list-basic button{
    border-radius: 25px !important;
    background-color:  #87bae1;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
    border: 0;
    color: #ffffff;
    font-weight: bold;
    font-size: 13px;
    cursor: pointer;

    width: 95px;
    height: 32px;
}

.product-list-basic .product-out-of-stock{
    color: #c15017;;
    font-weight: bold;
    line-height: 32px;

    width: 95px;
    height: 32px;
}

.product-list-basic .product-price{
    float: right;

    color:  #4e4e4e;
    font-weight: bold;
    font-size: 20px;

    padding-top: 6px;
    margin: 0;
}

/* Making the list responsive */

@media (max-width: 800px){

    .product-list-basic .product-photo{
        width: 225px;
    }

    .product-list-basic .product-description{
        max-width: 225px;
    }
}
/*End of product list styling*/

/*Item styling*/

.item-pic {
  width: 150px;
}

.item-wrapper {
  overflow: hidden;
  border: 3px dashed #eeeeee;
}

.item-title {

}

.item-desc {

}

.item-title {

}

.profile-userbuttons {
  margin-bottom: 5px;
}
/*End of item styling*/


/*Notification box styling*/

.notification {
    display: block;
    position: fixed;
    top: 100px;
    right: -400px;
    width: 400px;
    z-index: 10;
    background-color: lightgreen;
    padding: 10px;
    border: 1px dashed green;
    border-radius: 10px !important;
    opacity: 0;
}


/*Search bar stuff*/
.search-bar {
    padding: 10px 0;
    background: linear-gradient(to top right, #34b3a0 0%, #204056 100%);
}

.full-width {
    width: 100% !important;
}

/*Swag container*/
.swag-container {
    padding: 10px 0;
    background: linear-gradient(to top right, #34b3a0 0%, #204056 100%);
    margin-bottom: 10px;
    border-radius: 5px !important;
}

.swag-text {
    font-size: 24pt;
    color: white;
    text-transform: uppercase;
}

/*Additional styles should be down here */

/*Popular items section at the bottom of the page*/
.popular_items_wrapper {
    padding: 10px;
    background-color: #e1e1e1;
    display: flex;
    justify-content: center;
}

.popular_items_wrapper .item-container {
    width: 250px;
    display: block;
    box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.popular_items_wrapper .item-container img {
    display: block;
    margin:auto;
}

.popular_items_wrapper .item-container img {
    display: block;
    margin:auto;
}


/*** Styling the cards ***/

.card_full {
    width: 300px;
    height: 350px;
    overflow: hidden;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    border: 1px solid black;
}

/** End of cards styling ***/

/*This is the end of all additional styles */
/*Footer shall remain the last style of the page*/


/*Footer styling will be down here*/

footer {
    padding: 30px 30px;
    background-color: #222c37;
    color: #9e9e9e; 
}

footer img {
    display: block;
    margin: 15px auto;
    
}

footer p {
    text-align: center;
    
}