/* body */
body {
    background-color: #eff3f8;
    color: #fff;
}
/*Form styling*/

.form-4 {
    /* Size and position */
    width: 300px;
    margin: 60px auto 30px;
    padding: 10px;
    position: relative;

    /* Font styles */
    font-family: 'Raleway', 'Lato', Arial, sans-serif;
    color: white;
    text-shadow: 0 2px 1px rgba(0,0,0,0.3);
}

.form-4 h1 {
    font-size: 22px;
    padding-bottom: 20px;
}

.form-4 input[type=text],
.form-4 input[type=password] {
    /* Size and position */
    width: 100%;
    padding: 8px 4px 8px 10px;
    margin-bottom: 15px;

    /* Styles */
    border: 1px solid #4e3043; /* Fallback */
    border: 1px solid rgba(78,48,67, 0.8);
    background: rgba(0,0,0,0.15);
    border-radius: 2px;
    box-shadow:
            0 1px 0 rgba(255,255,255,0.2),
            inset 0 1px 1px rgba(0,0,0,0.1);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;

    /* Font styles */
    font-family: 'Raleway', 'Lato', Arial, sans-serif;
    color: #fff;
    font-size: 13px;
}

.form-4 input::-webkit-input-placeholder {
    color: rgba(37,21,26,0.5);
    text-shadow: 0 1px 0 rgba(255,255,255,0.15);
}

.form-4 input:-moz-placeholder {
    color: rgba(37,21,26,0.5);
    text-shadow: 0 1px 0 rgba(255,255,255,0.15);
}

.form-4 input:-ms-input-placeholder {
    color: rgba(37,21,26,0.5);
    text-shadow: 0 1px 0 rgba(255,255,255,0.15);
}

.form-4 input[type=text]:hover,
.form-4 input[type=password]:hover {
    border-color: #333;
}

.form-4 input[type=text]:focus,
.form-4 input[type=password]:focus,
.form-4 input[type=submit]:focus {
    box-shadow:
            0 1px 0 rgba(255,255,255,0.2),
            inset 0 1px 1px rgba(0,0,0,0.1),
            0 0 0 3px rgba(255,255,255,0.15);
    outline: none;
}

/* Fallback */
.no-boxshadow .form-4 input[type=text]:focus,
.no-boxshadow .form-4 input[type=password]:focus {
    outline: 1px solid white;
}

.form-4 input[type=submit] {
    /* Size and position */
    width: 100%;
    padding: 8px 5px;

    /* Styles */
    background: linear-gradient(rgba(99,64,86,0.5), rgba(76,49,65,0.7));
    border-radius: 5px;
    border: 1px solid #4e3043;
    box-shadow:
            inset 0 1px rgba(255,255,255,0.4),
            0 2px 1px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: all 0.3s ease-out;

    /* Font styles */
    color: white;
    text-shadow: 0 1px 0 rgba(0,0,0,0.3);
    font-size: 16px;
    font-weight: bold;
    font-family: 'Raleway', 'Lato', Arial, sans-serif;
}

.form-4 input[type=submit]:hover {
    box-shadow:
            inset 0 1px rgba(255,255,255,0.2),
            inset 0 20px 30px rgba(99,64,86,0.5);
}

/* Fallback */
.no-boxshadow .form-4 input[type=submit]:hover {
    background: #594642;
}
.form-4 label {
    display: none;
    padding: 0 0 5px 2px;
    cursor: pointer;
}

.form-4 label:hover ~ input {
    border-color: #333;
}

.no-placeholder .form-4 label {
    display: block;
}
/*Profile header*/
.icon {
    color: #333;
    font-size: 14pt;
}

.box-size {
    height:50px;
    width:50px;
    padding: 8px;
}


.notification-bar > li {
    display: inline-block;
}

.holo {
    height:50px;
    line-height: 50px;
    vertical-align: middle;
    margin:0 10px;
}

.badge {
    display: inline;
    width: 22px;
    height: 22px;
    font-size: 11px !important;
    font-weight: 300;
    text-align: center;
    padding: 3px 6px 3px 6px;
    -webkit-border-radius: 12px !important;
    -moz-border-radius: 12px !important;
    border-radius: 12px !important;
    text-shadow: none !important;
    text-align: center;
    vertical-align: middle;
}

/*End of profile header*/


/*Profile page content*/

.wallet {
    border-radius: 5px;
    min-height: 500px;
}

/*End of profile page content */


/*Footer of the page*/
.footer {
    padding:0;
    margin:0;
    margin-top: 15px;
    background-color: #222222;
}

.copyright-text {
    text-align: center;
    color: #aaaaaa;
    font-family: Roboto;
    min-height: 200px;
    line-height: 200px;
    vertical-align: middle;
}

/*Bootstrap overwrting*/

ul {
    margin-top: 0px;
    margin-bottom: 0px;
}

/*Item styling*/

.item-pic {
    height: 120px;
    width: 120px;
    margin:0 auto;
    display: inline-block;
}

.item-info {
    float: right !important;
}

.item-title {
    font-family: Roboto;
    font-weight: bold;
    font-size: 16pt;
}

.item-desc {
    font-family: "Roboto Light";
    font-weight: 700;
}